@font-face {
    font-family: M PLUS 1p;
     src: url("assets/fonts/MPLUS1p.ttf");
   }
   body {
    font-family: 'M PLUS 1p';
   }
   body {
    min-height: 100vh;
    margin: 0; padding: 0;
   }
   body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  .header {
    background-color: #6f7f84;
    width: 100%;
    height: 70px;
  }
  .nav-list li {
    display: inline; 
      margin-right: 5px;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .main-container {
    width: 50%;
  }
  .nav-link {
    text-decoration: none;
    color: #313739;
    transition: color 0.5s;
  }
  .nav-link :hover {
    color: #a7bbc1;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body {
  min-height: 100vh;
  }
  body {
    margin: 0; padding: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer {
    background-color: #6f7f84;
    width: 100%;
    height: 70px;
  }
  .end-foot li {
    display: inline; 
      margin-right: 5px;
  }
  .section-title {
    text-transform: uppercase;
    color: #313739;
  
    }
  
  